@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    user-select: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: steelblue;
    display: flex;
    align-items: center;
    gap: 2%;
}


.ingCargas{
    margin-left: 2%;
    width: 20%;
    height: 95vh;
    box-shadow: 7px 10px 30px -1px black;
}

.inputs h1{
    background: linear-gradient(
        to right,
        darkblue,
        black,
        darkblue
    );
    background-size: 200%;
    animation: gradient 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.inputs{
    text-align: center;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input{
    text-align: center;
    background-color: transparent;
    border: 2px solid #1c1c1c;
    border-radius: 10px;
    height: 3vh;
    width: 4vh;
}

#btnSubmit{
    cursor: pointer;
    margin: 15px;
    margin-bottom: 0;
    width: 10vh;
    font-size: .83em;
}

.btnRestart{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: .83em;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: 2px solid #1d1919;
    border-radius: 10px;
    height: 3vh;
    width: 10vh;
}


#btnSubmit:hover,.btnRestart:hover{
    font-size: .95em;
    border-color: darkblue;
}

input:focus{
    outline: 1px solid slateblue;
}

select{
    cursor: pointer;
    font-weight: bold;
    appearance: none;
    text-align: center;
    background-color: transparent;
    border: 2px solid darkblue;
    border-radius: 10px;
    height: 2.7vh;
    width: 4vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}


.grafica{
    width: 90%;
    height: 95vh;
    background-color: rgb(11,15,16);
    box-shadow: 7px 10px 30px -1px black;
}

.graficaTitulo{
    display: flex;
    border: 2px solid white;
    width: 90%;
    height: 95vh;
}

#x, #y{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    top: 50%;
    right: 50%;
    cursor: grab;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 100%;
    background-color: yellowgreen;
    width: 4vh;
    height: 4vh;
}



#y{
   background-color: darkblue; 
   right: 70vh ;
   top: 50%;
}

.rotate{
    writing-mode: vertical-lr;
}

.rotate h1{
    background: linear-gradient(
        to right,
        darkblue,
        black,
        darkblue
    );
    background-size: 200%;
    animation: gradient 2s linear infinite;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
}

@keyframes gradient{
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
}

.grafica > div {
    float: left;
    width: fit-content;
    height: fit-content;
}

#signoX, #signoY{
    font-size: 2em;
    width: fit-content;
    height: fit-content;
    cursor: grab;
}

#green, #blue, #yellow, #canvaSensor{
    position: absolute;
    opacity: 0;
}

#resultante{
    color: yellow;
    position: absolute;
    text-align: center;
    width: 100%;
}



#sensor{
    z-index: 5;
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    transform: translate(-50%, -50%);
    cursor: grab;
    top: 65%;
    right: 38%;
}

form{
    width: 10vh
}